html,
body {
  background-color: #6d6d6d;
  padding: 0px;
  background-image: url("../textures/wall.png");
  background-repeat: repeat;
  background-size: 300px 300px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  overflow: hidden;
  margin: 0px;
}

body {
  border: 8px solid rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@font-face {
  font-family: "GameFont";
  src: url("fonts/krunker.ttf");
}

* {
  outline: none;
  font-family: "GameFont";
  color: #353535;
  user-select: none;
}

a {
  cursor: pointer;
  text-shadow: none;
  color: #2196f3;
  text-decoration: none;
  pointer-events: all;
}
a:active {
  color: #2196f3;
}
a:visited {
  color: #2196f3;
}
a:hover {
  text-decoration: underline;
}

#navTitle {
  top: 12px;
  left: 20px;
  position: absolute;
  font-size: 35px;
  color: #fff;
  z-index: 11;
  user-select: none;
}

#navBar {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 85px;
}

#header {
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translateX(-50%);

  z-index: 2;
  display: inline-block;
  text-align: center;
  pointer-events: auto;
  padding: 20px;
  padding-top: 10px;
  width: 600px;
  height: 20px;
  font-size: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 0px 0px #a6a6a6;
  -moz-box-shadow: 0px 5px 0px 0px #a6a6a6;
}

#page {
  position: absolute;
  left: 50%;
  top: 185px;
  max-height: 300px;
  transform: translateX(-50%);

  z-index: 2;
  overflow-y: scroll;
  display: inline-block;
  text-align: left;
  pointer-events: auto;
  padding: 20px;
  width: 600px;
  font-size: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 0px 0px #a6a6a6;
  -moz-box-shadow: 0px 9px 0px 0px #a6a6a6;
}

.setHed {
  margin-top: 15px;
  font-size: 22px;
}

.settName {
  clear: both;
  margin-top: 3px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.indent {
  margin-left: 35px;
}

.switch {
  float: right;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  width: 60px;
  height: 34px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slidecontainer {
  margin-top: -8px;
  margin-right: 10px;
  width: 250px;
  float: right;
}
.sliderM {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  background-color: #ccc;
  outline: none;
}
.sliderM::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2196f3;
  cursor: pointer;
}
.sliderM::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2196f3;
  cursor: pointer;
}
.sliderVal {
  float: right;
  display: inline-block;
  position: relative;
  width: 50px;
  color: #fff;
  line-height: 24px;
  font-size: 18px;
  text-align: center;
  background: #2196f3;
  padding: 5px 10px;
  margin-left: 8px;
}

.label {
  font-size: 14px;
  float: right;
  padding-top: 8px;
  color: #000;
}

input[type="number"] {
  border-width: 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"] {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 6px;
  padding-bottom: 6px;
  float: right;
}

input[type="color"] {
  float: right;
  margin-top: 5px;
}

select {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  padding: 4px;
  float: right;
}

.actionButton {
  color: #fff !important;
  margin-left: 10px;
  background-color: #2196f3;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
  float: right;
}

.actionButton:active {
  background-color: #666;
}
