html,
body {
	background-color: #1b1b1b;
	padding: 0px;
	overflow: hidden;
	margin: 0px;
}

body {
	pointer-events: none;
	border: 8px solid rgba(14, 14, 14, 0.6);
	/* border-radius: 6px; */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@font-face {
	font-family: 'GameFont';
	src: url('fonts/krunker.ttf');
}

* {
	outline: none;
	font-family: 'GameFont';
	color: #353535;
	user-select: none;
}

img {
	width: 500px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

a {
	text-transform: uppercase;
	font-size: 12px;

	color: #fff;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000,
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;

	bottom: 0;
	position: absolute;
	margin: 4px;
}

#updateStatus {
	left: 0;
}

#version {
	right: 0;
}